.main-content .form6 {
    width: 60%;
}


/******************* Manager *********************/

body {
    background-color: #f2f6f9;
    color: #7a8599;
}
.text {
    font-size: 14px;
}
.item {
    padding-bottom: 1rem;
}
a {
    text-decoration:none;
}
.el-container .login-form {
    width: 26rem;
    margin: 10% auto 0 auto;
    padding: 50px 50px 50px 30px;
    background: #FFF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    border-radius: 6px;
}

/****************** el-header ********************/
.el-header {
    margin: 1rem 0;
    height: 5rem !important;
    text-align: center;
    overflow: hidden;

}
.el-header .el-row {
    background-color: #ffffff;
    color: #399ff4;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
}



/****************** el-aside ********************/
.el-aside {
    width: 16rem !important;
    min-height: 33rem;
    background-color: #fff;
    text-align: center;
    margin: 0 1rem;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    border-radius: 6px;
}
.el-aside .el-menu {
    border: none;
    padding-top: 1.5rem;
}
.el-aside .el-submenu,.el-menu-item {
    border-bottom: none !important;
}
.el-aside .el-menu-item.is-active {
    border-left: 2px solid #399ff4;
    background-color: #ebf5fe;
}

/****************** el-main ********************/
.el-main .el-col {
    padding: 1rem 0;
}
.el-main .el-row .shadow {
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
}
.el-main .current {
    padding: 1.5rem;
}
.el-main .box-card {
    min-height: 22rem;
}
.el-main .box-card .el-card__header {
    font-weight: bold;
    color: #399ff4;
}
.el-main .box-card .el-card__body {
    color: #7a8599;
}
.el-main .box-card .el-card__body a {
    color: #7a8599;
}

.el-main .el-input {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    border-radius: 6px;
}
.el-main .el-table {
    padding: 1rem;
    min-height: 26rem;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    border-radius: 6px;
}
.el-main .el-table .cell,.cell > .links {
    color: #7a8599;
}
.el-main .el-card__body > .el-table {
    padding:0;
    box-shadow: none;
    border-radius: unset;
}
.el-main .el-pagination .el-pager li{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.el-main .el-form {
    margin-top: 2rem;
}
.el-main .el-form .el-form-item__content {
    margin-left: 6rem !important;
}
.el-main .el-form .el-form-item__content > .el-input {
    width: 22rem;
}

.el-main .el-col .markdown-previews {
    color: #7a8599;
    border: 1px dashed #ccc;
    background-color: #ebf5fe;
    padding: 0.5rem 2rem;
}
.el-main .el-col .el-dialog__header {
    border-bottom: 1px solid #eee;
}
.el-main .el-col .el-dialog__title {
    color: #409EFF;
}

/************* el-dialog-message **************/
.el-message-box .el-message-box__header,.el-message-box__content {
    position: static;
}

/***************** el-footer *****************/

.el-footer {
    text-align: center;
}
.el-footer .el-col {
    background-color: #fff;
    line-height: 60px;
    height: 100%;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    border-radius: 6px;
}
.el-footer span {
    text-align: center;
    padding-right: 30px;
}